Node-Red/node-red flow.txt
[{"id":"c12e9e18.651ae","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"6d1fabef.8f4bf4","type":"http request","z":"c12e9e18.651ae","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"a3j0p24nyg2sfw-ats.iot.us-west-2.amazonaws.com:8443/topics/EE542?qos=1","tls":"eea8ed50.ce04e","persist":false,"proxy":"","authType":"","x":570,"y":360,"wires":[[]]},{"id":"585e7e79.cd3a88","type":"http in","z":"c12e9e18.651ae","name":"http listener","url":"/iot","method":"post","upload":false,"swaggerDoc":"","x":130,"y":260,"wires":[["6d1fabef.8f4bf4","99ae6c35.0bafe"]]},{"id":"99ae6c35.0bafe","type":"debug","z":"c12e9e18.651ae","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":570,"y":260,"wires":[]},{"id":"eea8ed50.ce04e","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"950c6426b3-certificate.pem.crt","keyname":"950c6426b3-private.pem.key","caname":"AmazonRootCA3.pem","servername":"","verifyservercert":false}]